@font-face {
  font-family: joffrey; 
  src: url(in-your-face-joffrey.woff2);
}

@font-face {
  font-family: comic-mono; 
  src: url(ComicMono.woff2); 
}

@font-face {
  font-family: comic-neue; 
  font-style: normal;
  src: url(comic-neue.woff2); 
}

@font-face {
  font-family: comic-neue; 
  font-style: italic;
  src: url(comic-neue-italic.woff2); 
}

@font-face {
  font-family: comic-neue; 
  font-weight: bold;
  src: url(comic-neue-bold.woff2); 
}

body {
    font-family: comic-neue;
    background-color: aliceblue;
    text-align: center;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: navy;
    color: cornsilk;
  }
}

a {
  color: blue;
}

@media (prefers-color-scheme: dark) {
  a {
    color: cornflowerblue;
  }
}

H1 {
    font-family: joffrey;
}

button {
    font-family: joffrey;
    font-size: 24px;
    font-weight: bold;
    margin: 0.2em 1em 0.2em 1em;
    padding: 0.5em;
    padding-bottom: 0.35em;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 0.2em;
    cursor:pointer;
}
button:disabled,
button[disabled]{
  cursor:default;
}

@media (prefers-color-scheme: dark) {
  button {
    background-color: black;
    color: cornsilk;
    border-color: cornsilk;
  }
}

.buttons {
  min-height: 148px;
}

button.correct {
  color: green;
  border-color: green;
  background-color: honeydew;
}

button.incorrect {
  color: firebrick;
  border-color: firebrick;
  background-color: mistyrose;
}

@media (prefers-color-scheme: dark) {
  button.correct {
    color: honeydew;
    border-color: honeydew;
    background-color: green;
  }

  button.incorrect {
    color: mistyrose;
    border-color: mistyrose;
    background-color: firebrick;
  }
}
  
.message {
  font-weight: bold;
  font-size: 24px;
}

.message.correct {
  color: green;
}

.message.incorrect {
  color: firebrick;
}

@media (prefers-color-scheme: dark) {
  .message.correct {
    color: palegreen;
  }

  .message.incorrect {
    color: lightcoral;
  }
}

code {
    font-family: comic-mono;
}

.questionInfo {
  min-height: 14em;
}

.submittedBy {
  font-style: italic;
}

.extensionName {
  font-family: comic-mono;
  font-size: 24px;
  padding: 0.3em;
  padding-bottom: 0.1em;
  border: 2px solid black;
  border-radius: 0.25em;
  width: fit-content;
  background-color: cornsilk;
}

@media (prefers-color-scheme: dark) {
  .extensionName {
    border-color:  cornsilk;
    background-color: black;
  }
}
  
.icons svg{
  vertical-align: middle;
  padding: 0.2em;
}

.smallicon {
  height: 100%;
}

.smallicon svg {
  margin-top: calc(100%-16px);
  margin-bottom: calc(100%-16px);
  width: 32px;
}

.largeicon svg {
  width: 128px;
}

.introImage svg {
  border-radius: 1em;
}

.socialLink {
  margin: 1em;
}

.socialIcon {
  fill: white;
}

@media (prefers-color-scheme: dark) {
  .socialIcon {
    fill: #000044;
  }
}


.red svg .fill-shadow {
  fill: #a00000;
}

.red svg .fill-highlight {
  fill: #FF0000;
}

.red svg .fill-tongue {
  fill: #FF0000;
}

.red svg .stroke {
  stroke: #550000;
}

.red svg .fill-stroke {
  fill: #550000;
}

.blue svg .fill-shadow {
  fill: #1010B0;
}

.blue svg .fill-highlight {
  fill: #3333FF;
}

.blue svg .fill-tongue {
  fill: #FF00CC;
}

.blue svg .stroke {
  stroke: #000022;
}

.blue svg .fill-stroke {
  fill: #000022;
}

.green svg .fill-shadow {
  fill: #006000;
}

.green svg .fill-highlight {
  fill: #00AA00;
}

.green svg .fill-tongue {
  fill: #00AAFF;
}

.green svg .stroke {
  stroke: #004400;
}

.green svg .fill-stroke {
  fill: #004400;
}

.brown svg .fill-shadow {
  fill: #802000;
}

.brown svg .fill-highlight {
  fill: #a04000;
}

.brown svg .fill-tongue {
  fill: #00C080;
}

.brown svg .stroke {
  stroke: #552200;
}

.brown svg .fill-stroke {
  fill: #552200;
}

.orange svg .fill-shadow {
  fill: #a04000;
}

.orange svg .fill-highlight {
  fill: #FF8000;
}

.orange svg .fill-tongue {
  fill: #00AAFF;
}

.orange svg .stroke {
  stroke: #552200;
}

.orange svg .fill-stroke {
  fill: #552200;
}

.yellow svg .fill-shadow {
  fill: #a09000;
}

.yellow svg .fill-highlight {
  fill: #FFFF00;
}

.yellow svg .fill-tongue {
  fill: #FF0000;
}

.yellow svg .stroke {
  stroke: #554400;
}

.yellow svg .fill-stroke {
  fill: #554400;
}


.pink svg .fill-shadow {
  fill: #a00090;
}

.pink svg .fill-highlight {
  fill: #FF0088;
}

.pink svg .fill-tongue {
  fill: #0088FF;
}

.pink svg .stroke {
  stroke: #550044;
}

.pink svg .fill-stroke {
  fill: #550044;
}

.purple svg .fill-shadow {
  fill: #5000a0;
}

.purple svg .fill-highlight {
  fill: #8800FF;
}

.purple svg .fill-tongue {
  fill: #FF0088;
}

.purple svg .stroke {
  stroke: #440055;
}

.purple svg .fill-stroke {
  fill: #440055;
}

.cyan svg .fill-shadow {
  fill: #00A0C0;
}

.cyan svg .fill-highlight {
  fill: #00EEFF;
}

.cyan svg .fill-tongue {
  fill: #F08000;
}

.cyan svg .stroke {
  stroke: #004455;
}

.cyan svg .fill-stroke {
  fill: #004455;
}

.lime svg .fill-shadow {
  fill: #00a000;
}

.lime svg .fill-highlight {
  fill: #00FF00;
}

.lime svg .fill-tongue {
  fill: #FF0000;
}

.lime svg .stroke {
  stroke: #004400;
}

.lime svg .fill-stroke {
  fill: #004400;
}

.white svg .fill-shadow {
  fill: #9090c0;
}

.white svg .fill-highlight {
  fill: #E0E0E0;
}

.white svg .fill-tongue {
  fill: #FF0000;
}

.white svg .stroke {
  stroke: #444455;
}

.white svg .fill-stroke {
  fill: #444455;
}

.black svg .fill-shadow {
  fill: #505060;
}

.black svg .fill-highlight {
  fill: #808090;
}

.black svg .fill-tongue {
  fill: #FF0000;
}

.black svg .stroke {
  stroke: #000000;
}

.black svg .fill-stroke {
  fill: #000000;
}

