@font-face {
  font-family: joffrey; /* set name */
  src: url(in-your-face-joffrey.woff2); /* url of the font */
}

@font-face {
  font-family: comic-mono; /* set name */
  src: url(ComicMono.woff2); /* url of the font */
}

@font-face {
  font-family: comic-neue; /* set name */
  src: url(comic-neue.woff2); /* url of the font */
}

H1 {
    font-family: joffrey;
}

button {
    font-family: joffrey;
    font-size: 24px;
    margin: 1em;
    padding: 0.5em;
}

code {
    font-family: comic-mono;
}

body {
    font-family: comic-neue;
    background-color: aliceblue;
}